ahocorasick==0.9
ariadne==0.14.1
Flask==2.1.0
flask_github==0.1.3
flask_mongoengine==1.0.0
Flask_SocketIO==5.1.1
GitHub_Flask==3.2.0
joblib==1.1.0
keras==2.8.0
nltk==3.7
numpy==1.22.2
pandas==1.4.1
pyahocorasick==1.4.2
pyspellchecker==0.6.3
pyttsx3==2.90
scikit_learn==1.0.2
spellchecker==0.4
tensorflow==2.8.0
toml==0.10.2
